/iterativi-stampa/build/
/iterativi-stampa/dist/
/iterativi_stampaNumeri/dist/
/iterativi_stampaNumeri/build/
/iterativi_numeri_inversi/build/
/iterativi_numeri_inversi/dist/
/SommaNumeri/build/
/SommaNumeri/dist/
/Pari/build/
/Pari/dist/
/Cerchio/build/
/Cerchio/dist/
/somma_n/build/
/somma_n/dist/
/FunzioneMax2Numeri/dist/
/FunzioneMax2Numeri/build/
